<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle Etudiant</title>
</head>
<body>
    <form action="/editetudiant" method="post">
        <label for="">Nom</label>
        <input type="text" name="nom">
        <label for="">Date</label>
        <input type="text" name="date">
        <label for="">Etudiant</label>
        <input type="text" name="etudiant">
        <label for="">Sourate</label>
        <input type="text" name="sourate">

        <input type="submit" value="envoyer">
    </form>
</body>
</html>